
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Navigation -->
<nav class="navbar navbar-custom navbar-static-top navbar-sub-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand {{ page.logo-class }}" title="The Gift Ticket" href="./#page-top">
                <img src="/img/nav_logo.svg" alt="The Gift Ticket" height="40px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/#page-top"></a>
                </li>

                <li>
                    <a class="page-scroll" title="How the Gift Ticket works" href="./#how">How this Works</a>
                </li>
                <li>
                    <a href="/order" title="Order a Gift Ticket now" onclick="trackLink('Order Button', 'clicked', 'nav', '/order'); return false;">Order Gift Ticket</a>
                </li>
                <li>
                    <!--<a class="page-scroll" href="./#about">What is it?</a>-->
                    <a href="/activate" title="Activate a Gift Ticket">Activate A Ticket</a>
                </li>
                <!--<li>-->
                <!--<a class="page-scroll" href="#contact">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>