
<header class="content-section sub_nav">
        <div class="container">
            <div class="col-md-offset-2 col-md-5">
                <ul class="nav navbar-nav">
                    <li><a href="about.html">About</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
        </div>
</header>