
<header class="content-section sub_nav">
        <div class="container">
            <div class="col-md-offset-2 col-md-8">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">Faq</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/press">News/Press</a></li>
                </ul>
            </div>
        </div>
</header>